.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.addBtn {
  padding: 10px;
  border: none;
  background: #6366f1;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.addBtn:hover {
  background: #4f46e5;
}